* {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}

.night {
    background-color: rgb(54, 137, 201);
}

.fluffyGrid img{
    height: 100%;
    width: 100%;
}

.fluffyGrid {
    justify-content: center;
    padding: auto;
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-rows: 35% 35%;
    gap: 3em;
}


.petGrid {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 50%;
}

.catImage {
  grid-column: 1 / 2;
}

.catDescription {
 grid-column: 2 / 3;
 font-size: 3em; 
}


/* NAV BAR */
header {
    display: flex;
    width: 100%;
    height: 8em;
    text-align: center;
    align-items: center;
    background-color: rgb(61, 230, 173);
}

nav ul li {
    display: inline;
    padding: 0 15px;
}

nav ul {
    list-style: none;
    font-size: 2em;
    float: right;
}

nav {
    width: 45%;
    padding-right: 10%;
}

.logo p {
    display: inline;
    font-size: 200%;
    font-weight: bold;
    float: left;
    padding-left: 30%;
}

.logo {
    width: 55%;
}

a {
    text-decoration: none;
}

/* home.html */

.welcome {
    display: flex;
    height: 5em;
    width: 100%;
    padding: 5% 0;
}

.welcome p {
    width: 100%; 
    align-self: center;
    font-weight: 600;
    font-size: 4em;

}

.border {
    
}

.homeSection {
    display: flex;
    padding: 2% 0% 5% 0%;
}

.leftColumnHome {
    width: 35%;
    font-size: 150%;
    padding: 0 10%;
}


.rightColumnHome {
    width: 35%;
    font-size: 150%;
    padding: 0 10%;
}

.fact {
    font-size: 150%;
}

#catFacts {
    width: 40%;
    padding: 0 30%;
}